# Hugging Face Token (for data ingestion)
HF_TOKEN=your_huggingface_token_here

# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=ap-south-1

# Infrastructure Details (Mumbai ap-south-1)
ECR_REPO_URI=your_ecr_uri_here
AMI_ID=ami-09d623d7034669ca5
SUBNET_ID=your_subnet_id_here
SG_ID=your_sg_id_here
MODEL_NAME=t5-small
ARTIFACT_MODEL_PATH=artifacts/model/t5-samsum-model/

# Deployment Details
EC2_HOST=your_ec2_public_dns_here
EC2_SSH_KEY=your_base64_encoded_ssh_key_here
