absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
boto3
botocore
certifi
charset-normalizer
click
colorama
datasets>=2.12.0
dill
evaluate
fastapi>=0.100.0
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
iniconfig
Jinja2
jmespath
joblib
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess
networkx
nltk
numpy
packaging
pandas
pluggy
propcache
pyarrow
pydantic
pydantic_core
Pygments
pytest
python-dateutil
python-dotenv
PyYAML
regex
requests
rich
rouge_score
s3transfer
safetensors
sentencepiece
setuptools
shellingham
six
starlette
sympy
tokenizers
torch>=2.0.0
tqdm
transformers>=4.34.0
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn>=0.25.0
xxhash
yarl
